
/*                     Header Content                 */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 5;
  justify-content:space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  background-color: white;
}
header p {
  padding-left: 10px;
}
.logo {
  color: MediumAquamarine;
  display: inline-flex;
  margin: 0 10px 5px 25px;
  align-items: center;
}
.menu {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 30px 0 10px;
  flex-grow: 0px;
  align-content: space-around;
}
a {
  color: black;
  margin: 0  10px;
}

/*                       General Content                 */

.content {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  top: 70px;
  flex-direction: column;
  position: relative;
  align-content: space-between;
  float: left;
  margin: 40px 30px 0 0;
}
p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/*                       Main Column Content             */

.main {
  width: 630px;
  display: flex;
  margin: 10px 10px;
}
.headline {
  background-image: url("../images/wine-img-story-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  align-items: center;
  height: 400px;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
}
.columns-below {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 150px;
}
.column-a,
.column-b {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
  margin: 0 10px;
}
.burger-headline {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}
.orca-headline {
  display: flex;
  align-items: horizontal;
  text-align: left;
  flex-direction: column;
}
.earth {
  border: 1px solid orange;
  background-image: url("../images/fence-img-story-2.png");
  height: 300px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
.camera {
  border: 1px solid pink;
  background-image: url("../images/camera-img-story-3.png");
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

/*                  Middle Column Content            */

.middle {
  border: 1px dotted silver;
  width: 3000;
  display: flex;
}
.cats-headline {
  background-image: url("../images/cat-img-story-1.png");
  height: 300px;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

/*                   Sidebar Column Content            */

.sidebar {
  border: 1px dotted brown;
  width: 2400px;
}
